/* General rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin-top: 5rem;
}

$flex: flex;
$border: 5px solid #c7c7c7;

$grey: #c7c7c7;
$blue: #6675c6;
$green: #71ae98;
$red: #eb4e4e;

.container {
  display: $flex;
  justify-content: space-around;
  flex-direction: row;

  .project {
    display: $flex;
    border: $border;
    background: lighten(#c7c7c7,10%);
    margin-top: 3rem;

    .title {
      margin-top: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      color: $blue;
      padding: 0.5em;
    }

    .todo {
      background: lighten($grey, 20%);

    }

  }


}